<app-header></app-header>
<div class="blocTitre">
    <p class="paragraphGrid">
        <span class="starter">Hi, my name is</span><br>
        <span class="name">Paul Taurand</span><br>
        <span class="statut">I am an apprentice software developer </span><br>
        <span class="presentation">I am a French student in engineering school. I am on a work-study contract <br> in a software development company in France.</span>
    </p>
</div>

<app-about id="app-about"></app-about>
<app-experience id="app-experience"></app-experience>
<app-work id="app-work"></app-work>
