@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 100px;
    justify-content: end;
    align-items: center;
}

svg {
  height: 100px;
  width: 100px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

button:hover {
    border-radius: 20px;
    background-color: #009c95;
}

.buttonNumber {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: bold;
    color: #009C95;
}

.buttonText {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
