.titreBloc {
    padding-top: 30px;
    padding-left: 30px;
}

.number {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: bold;
    color: #009C95;
}

.text {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffff
}

@media screen and (min-width: 1201px) {

    .experiencePage {
        height: 100%;
        width: 100%;
    }

    .container {
        padding: 30px;
    }

    .frise {
        height: 100%;
        width: 100%;
    }

}

@media screen and (max-width: 1200px) {
    
    .container {
            padding: 30px;
        }
    
    .frise {
        height: 100%;
        width: 100%;
    }

}