.main {
  height: 100vh;
}

.banner {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;

  background-color: white;
}

.text {
  display: flex;
  white-space: nowrap;
  font-size: clamp(6rem, 11vw, 14rem);
  color: lightgrey;
  animation: slide 8s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.video {
  height: 100%;
  background-color: lightsalmon;
}