<div class="aboutPage">
    <div class="titreBloc">
        <span class="number">#1. </span>
        <span class="text">about</span>
    </div>
    <div class="container">
        <div class="persoProfil">
            <h2>My Personnal profil :</h2>
            <p>
                I am a French student in engineering school. With my work-study contract I learn software developpement . But I also
                work on personal and team IT projects. I am a creative person, I love to draw, tinker and create in many area. <br/>
                Among my hobbies, photography is one of the main ones. I am also involved in creative projects around photography and my
                travels. Some of my collection are available on behance. You can click on th link bellows to see them.
            </p>
            <div class="logoBehance">
                <a href="https://www.behance.net/PaulTrd">
                    <img src="assets/images/logoBehance.png" class="logoBehance">
                </a>
            </div>
        </div>
        <div class="proGoals">
            <h2>My professional goals :</h2>
            <p>
            I am currently learning to be a software developer with my work-study contract. However, the engineering school allows
            me to discover many fields and to work on various IT projects which I particularly like. So I would like to work in a
            structure that would allow me to work on various IT projects.
            </p>
        </div>
        
    </div>
</div>