.aboutPage {
    height: 100%;
    width: 100%;
}

.titreBloc{
    padding-top: 30px;
    padding-left: 30px;
}

.number {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: bold;
    color: #009C95;
}

.text {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffff
}

.container {
    /* height: 100%; */
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
}

.persoProfil {
    height: auto;
    padding: 20px;
    width: 50%;
}

.proGoals {
    height: auto;
    padding: 20px;
    width: 70%;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    color: #009C95
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
    color: #ffff
}