.container {
    width: 100vw;
    height: 100vh;
}

.content {
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}

.mainBloc {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocTitle {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
}

.mainTitle {
    font-size: 13rem;
    font-family: "Jaro", serif;
    line-height: 11rem;
}

.secondaryTitle {
    font-size: 1rem;
    font-family: "Jaro", serif;
}

.blocAvatar {
    height: 100%;
    width: 82%;
}

.sideStrip {
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-family: "Jaro", serif;
    color: lightgray;
}

.sideStrip span {
    writing-mode: vertical-rl;
    white-space: nowrap;
    padding: 15px;
    transform: rotate(180deg);
}

.sideStrip hr {
    transform: rotate(180deg);
    height: 100%;
}
